* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --fc-letter-primary: #E1E1E6;
  --fc-letter-secondary: #FFFFFF;
  --fc-letter-navy: #C4C4CC;
  --ff-primary: 'Roboto', sans-serif;
}

body {
  background-image: url(../assets/mountains-universe-1.png);
  background-size: cover;
  font-family: var(--ff-primary);
  font-size: 2.4rem;
  min-height: 100vh;
}

nav {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 3rem 7%;
  gap: 3.2%;
}

li {
  margin: 0 10px;
}

a {
  display: flex;
  text-decoration: none;
  color: var(--fc-letter-navy);
  font-weight: 400;
  padding: 10px;
  border-radius: 5px;
  transition: color 0.2s linear;
}

a:hover {
  color: var(--fc-letter-secondary);
  transition: 0.2s linear;
}

#card {
  display: flex;
  flex-direction: column;
  max-width: 65%;
  color: var(--fc-letter-primary);
}

#card h1 {
  min-width: 100vh;
  margin-top: 10%;
  margin-bottom: 1.6rem;
}


#card button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.3rem 3.4rem;
  background-color: transparent;
  border: 2px solid var(--fc-letter-navy);
  border-radius: 5px;
  color: var(--fc-letter-primary);
  transition: background-color 0.25s;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 2.4rem;
  cursor: pointer;


}

#card button:hover {
  color: #02799D;
  background-color: var(--fc-letter-secondary);
}

@media (max-width: 768px) {
  ul {
    padding: 3rem 4%;
    gap: 2.4%;
  }

  #card {
    max-width: 85%;
  }

  #card h1 {
    margin-top: 8%;
  }

  #card button {
    padding: 1rem 2.6rem;
    font-size: 1.2rem;
  }
}